<section class="featured-campaigns">
    <div class="row gy-0">

        <div class="col-lg-6">
            <article class="featured-card featured-card--lg">
                <div class="container-info">
                    <h3 class="campaign-title">Titulo de Campaña</h3>
                    <p class="featured-description">diam lacus lacus, elementum Quisque ex Praesent de dignissim, Quisque ac ac...</p>
                    <div class="campaign-meta">
                        <div class="author-info">
                            <img src="/assets/img/author-photo.png" alt="Foto del autor">
                            <span class="author-name">Por * Nombre del autor</span>
                        </div>
                        <time class="campaign-date" datetime="2025-11-01">01 Nov, 2025</time>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-between gap-3">
            
            <article class="featured-card featured-card--md">
                <div class="container-info">
                    <h3 class="campaign-title">Título de Campaña</h3>
                    <div class="campaign-meta">
                        <div class="author-info">
                            <img src="/assets/img/author-photo.png" alt="Foto del autor">
                            <span class="author-name">Por * Nombre del autor</span>
                        </div>
                        <time class="campaign-date" datetime="2025-11-01">01 Nov, 2025</time>
                    </div>
                </div>
            </article>

            <div class="d-flex justify-content-between gap-3">
                
                <article class="featured-card featured-card--sm">
                    <div class="container-info">
                    <h3 class="campaign-title">Título de Campaña</h3>
                        <div class="campaign-meta">
                            <div class="author-info">
                                <img src="/assets/img/author-photo.png" alt="Foto del autor">
                                <span class="author-name">Por * Nombre del autor</span>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="featured-card featured-card--sm">
                    <div class="container-info">
                    <h3 class="campaign-title">Título de Campaña</h3>
                        <div class="campaign-meta">
                            <div class="author-info">
                                <img src="/assets/img/author-photo.png" alt="Foto del autor">
                                <span class="author-name">Por * Nombre del autor</span>
                            </div>
                        </div>
                    </div>
                </article>
            
            </div>

        </div>

    </div>
</section>
