<section class="upcoming-events-section">
    <div class="container">
        <h2 class="section-title">Próximos eventos</h2>
        <div class="bar-divider"></div>

        <div class="events-carousel d-flex gap-4 overflow-auto" id="events-carousel">
            
            <div class="carousel-track d-flex gap-4">

                <div class="event-card d-flex align-items-center">
                    <img src="/assets/img/event-cover.jpg" alt="Imagen del evento" class="event-image">
                    <article class="event-info d-flex justify-content-center">
                        <h4 class="event-title">Título del evento 1</h4>
                        <p class="event-description">Descripción post diam lacus lacus, asas elementum asfa Quisque...</p>
                    </article>
                </div>
                
                <div class="event-card d-flex align-items-center">
                    <img src="/assets/img/event-cover.jpg" alt="Imagen del evento" class="event-image">
                    <article class="event-info d-flex justify-content-center">
                        <h4 class="event-title">Título del evento 2</h4>
                        <p class="event-description">Descripción post diam lacus lacus, asas elementum asfa Quisque...</p>
                    </article>
                </div>
                
                <div class="event-card d-flex align-items-center">
                    <img src="/assets/img/event-cover.jpg" alt="Imagen del evento" class="event-image">
                    <article class="event-info d-flex justify-content-center">
                        <h4 class="event-title">Título del evento 3</h4>
                        <p class="event-description">Descripción post diam lacus lacus, asas elementum asfa Quisque...</p>
                    </article>
                </div>
                
                <div class="event-card d-flex align-items-center">
                    <img src="/assets/img/event-cover.jpg" alt="Imagen del evento" class="event-image">
                    <article class="event-info d-flex justify-content-center">
                        <h4 class="event-title">Título del evento 4</h4>
                        <p class="event-description">Descripción post diam lacus lacus, asas elementum asfa Quisque...</p>
                    </article>
                </div>
                
                <div class="event-card d-flex align-items-center">
                    <img src="/assets/img/event-cover.jpg" alt="Imagen del evento" class="event-image">
                    <article class="event-info d-flex justify-content-center">
                        <h4 class="event-title">Título del evento 5</h4>
                        <p class="event-description">Descripción post diam lacus lacus, asas elementum asfa Quisque...</p>
                    </article>
                </div>
            
            </div>

        </div>
        
    </div>
</section>