:root {
  --color-primary: #3c6e71;
  --color-secondary: #91cb3e;
  --color-black: #212529;
  --color-white: #ffffff;
  --color-gray: #7b7b7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}