:root {
  --color-primary: #3c6e71;
  --color-secondary: #91cb3e;
  --color-black: #212529;
  --color-white: #ffffff;
  --color-gray: #7b7b7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* NavBar */

.fs-17 {
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    background-color: var(--color-primary);
    height: 105px;
}

.nav-link {
    color: var(--color-white);
    white-space: nowrap;
}

.nav-link:hover {
    color: var(--color-secondary);
}

.nav-link.active {
    color: var(--color-white) !important;
    text-decoration-line: underline;
}

.search-btn {
    border: none;
    color: var(--color-white);
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 1.5rem;
}

.search-btn:hover {
    background-color: transparent;
    color: var(--color-secondary);
}

#search-form {
    position: relative;
    width: 50.8rem;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

#search-form.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.btn-create-account {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    border-radius: 0.5rem;
    margin-left: 50px;
}

.btn-login {
    background-color: transparent;
    color: var(--color-white);
    font-size: 1.6rem;
    width: 600;
    padding: 0.8rem 1.2rem;
}

/*****************/
/*   CAMPAIGNS   */
/*****************/

.banner-campaigns {
    width: 1190px;
    height: 351px;
    background-image: url(../img/top-banner.png);
    background-size: cover;
    border-radius: 15px;
    margin-top: 4.8rem;
}

.banner-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    color: var(--color-white);
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.banner-subtitle {
    color: var(--color-white);
    font-size: 1.7rem;
    margin-top: 3.2rem;
    font-weight: 600;
}

.banner-subtitle span {
    color: var(--color-secondary);
}

/* Campaing Cards */

.mt-71 {
    margin-top: 71px;
}

.campaigns-grid {
    width: 1190px;
}

/* .campaigns-row {
    row-gap: 1rem;
    column-gap: 1rem;
} */

.campaign-card {
    width: 390px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.campaign-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campaign-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 80%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.campaign-title {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 1.1rem 0;
    line-height: 1.2;
}

.campaign-description {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    max-width: 33.7rem;
    max-height: 3.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.campaign-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.3rem;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.author-info img {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
}

.author-name {
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 400;
}

.campaign-date {
    font-size: 1.8rem;
    color: var(--color-white);
    font-weight: 400;
}

/* Sidebar campaigns */

.sidebar-campaigns {
    margin-left: 4.5rem;
}

.sidebar-title,
.tags-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: var(--color-black);
    text-transform: uppercase;
}

.sidebar-divider {
    width: 31.3rem;
    height: 2px;
    margin-bottom: 3.1rem;
    background: linear-gradient(
        to right,
        var(--color-secondary) 0 71px,
        var(--color-black) 71px 100%
    );
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
}

.sidebar-thumb {
    width: 6.8rem;
    height: 6.8rem;
    object-fit: cover;
    border-radius: 5px;
}

.sidebar-info {
    display: flex;
    flex-direction: column;
}

.sidebar-campaign-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-black);
    margin: 0;
}

.sidebar-date {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-gray);
    margin-top: 1.3rem;
}

.sidebar-list li {
    margin-bottom: 1.5rem;
}

/* Popular Tags */

.sidebar-tags {
    margin-top: 6.5rem;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-btn {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-gray);
    background-color: #d9d9d9;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tag-btn:hover {
    background-color: #c0c0c0;
}

/* Pagination */

.campaigns-pagination {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.pagination-btn {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-black);
    transition: background-color 0.3s ease;
}

.pagination-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
}

.pagination-btn.active {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 4px;
}