.sidebar-campaigns {
    margin-left: 4.5rem;
}

.sidebar-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: var(--color-black);
    text-transform: uppercase;
}

.sidebar-divider {
    width: 31.3rem;
    height: 2px;
    margin-bottom: 3.1rem;
    background: linear-gradient(
        to right,
        var(--color-secondary) 0 71px,
        var(--color-black) 71px 100%
    );
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
}

.sidebar-thumb {
    width: 6.8rem;
    height: 6.8rem;
    object-fit: cover;
    border-radius: 5px;
}

.sidebar-info {
    display: flex;
    flex-direction: column;
}

.sidebar-campaign-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-black);
    margin: 0;
}

.sidebar-date {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-gray);
    margin-top: 1.3rem;
}

.sidebar-list li {
    margin-bottom: 1.5rem;
}